/** @format */
:root {
  --branding-color: #d789d7;
  --secondary-color: #9d65c9;
  --branding-background: linear-gradient(
    to right,
    rgb(173, 83, 137),
    rgb(60, 16, 83)
  );
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Baloo 2", cursive;
  --secondary-font-family: "Delius Unicase", cursive;
}

body {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

h1 {
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 55px;
  padding: 20px 0;
}

h2 {
  margin: 0 0 5px;
  font-size: 30px;
  font-weight: bolder;
}
select {
  display: block;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  padding: 8px;
}

.container {
  display: block;
  max-width: 600px;
  margin: 30px auto;
  border: rgb(28, 11, 11);
  color: white;
  background: var(--branding-background);
  padding: 20px 40px;
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  font-family: var(--primary-font-family);
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(122, 150, 226, 0.685);
}
.city-location {
  display: block;
  padding: 20px 0;
  align-items: flex-end;
  justify-content: space-between;
  border: black;
}

#cities {
  display: block;
  max-width: 100%;
  margin: 10px 100px;
  padding: 0px 20px;
  border: black;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  border-radius: 12px;
  color: black;
}
.city:last-child {
  border: none;
}

.date {
  opacity: 0.8;
}

.time {
  font-size: 36px;
}

/*footer*/
footer {
  margin: 50px 20px;
}
.footer {
  margin: 10px;
}
.footer-email {
  display: block;
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 12px;
  font-weight: bold;
}

.footer-info {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 12px;
}

.git-link {
  text-decoration: none;
  color: rgb(115, 23, 165);
  font-weight: bold;
  font-family: var(--primary-font-family);
}

.git-link:hover {
  transition: 200ms ease-in-out;
  color: var(--secondary-color);
}
